   <!-- <div class="card cards ">
        <div class="card-header text-white bg-dark">{{bugReport.application}}</div>
        <div class="card-body steps">
            <h6 class="card-title text-danger">Severity: <strong>{{ bugReport.severity }} </strong></h6>
            <h6 class="card-title text-primary">Desc:</h6>
            <p class="card-text te">{{ bugReport.description | slice:0:100 }}</p>
            <h6 class="card-title text-primary">Steps</h6>
            <p class="card-text">{{ bugReport.steps | slice:0:100 }}</p>    
        </div>
        <div id="card-btn">
            <button (click)="approve()" class="btn btn-success">Approve</button>
            <button (click)="deny()" class="btn btn-danger">Deny</button>
        </div>
    </div>  -->

<div #card class="card" style="width: 18rem;">
    <div class="card-header text-white bg-dark" >{{bugReport.application}}</div>
    <div class="card-body">
        <h6 class="card-title text-danger">Severity: <strong>{{ bugReport.severity }} </strong></h6>
        <h6 class="card-title text-primary">Desc:</h6>
        <p class="card-text te">{{ bugReport.description | slice:0:100 }}</p>
        <h6 class="card-title text-primary">Steps:</h6>
        <p class="card-text">{{ bugReport.steps | slice:0:100 }}</p>    

    </div>
    <div id="card-btn" class="text-center">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" attr.data-target="#exampleModal-{{bugReport.id}}">
            More
        </button>
        <button (click)="approve()" class="btn btn-success">Approve</button>
        <button (click)="deny()" class="btn btn-danger">Deny</button>
    </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="exampleModal-{{bugReport.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{bugReport.application}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h6 class="card-title text-danger">Severity: <strong>{{ bugReport.severity }} </strong></h6>
            <h6 class="card-title text-primary">Desc:</h6>
            <p class="card-text te">{{ bugReport.description }}</p>
            <h6 class="card-title text-primary">Steps:</h6>
            <p class="card-text">{{ bugReport.steps }}</p> 
            <h6 class="card-title text-primary">Location:</h6>
            <p class="card-text">{{bugReport.location}}</p>
            <h6 class="card-title text-primary">Reporter:</h6>
            <p class="card-text">{{bugReport.reporter.username}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    
    