<div class = "panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Leaderboard</h3>
    </div>
<table class = "table table-hover">
    <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Username
            </th>
            <th>
                Points
            </th>
        </tr>
    </thead>
    <div class="panel-body">
    <tbody>
        <tr *ngFor='let user of topTenList; let i = index'>
            <td>
                {{i + 1}}
            </td>
            <td>
                {{user.username}}
            </td>
            <td>
                {{user.points}}
            </td>
        </tr>
    </tbody>
    </div>
</table>
</div>