
#floatboard {
    position:fixed;
    width:33%;
}

.panel {
    margin-top:92px; 
}

.panel-heading {
    background-color: #474C55;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;   
}

 h3{
    margin-top: 20%; 
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 5 em;
    color: white;
    }
