section{
    height: 100vh;
    display: block;
    position: relative;
}
section::after{
    content: "";
    background-image: url("/assets/img/dos.png");
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
 
div{
    display: flex;
}

#logo{
    float: left;
    width: 400px;
    margin-right: 80px;
}

form{
    height: 330px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4);
    font-size: 1.5em;
}

form>div{
    padding-bottom: 10px;
}

label{
    color: white;
}

#error{
    margin: 4px;
    padding: 4px;
    font-size: medium;
}
