<section id="mainContainer">
    <div id="login" class="login">
        <div id="logo">
            <img src="/assets/img/logo bug tracker.png" height="486px" width="395px">
        </div>
        <div id="loginForm" >
            <form (ngSubmit)="login()" #loginForm="ngForm">
                <div *ngIf="message" id="error" class="alert alert-danger">Username or Password incorrect</div>                
                <div class="form-row">
                    <label for="Username">Username</label> 
                    <div class="input-group mb-2">                  
                        <input [(ngModel)]="username"  type="text" class="form-control" name="username" id="username" placeholder="Username">
                    </div>
                </div>

                <div class="form-row">
                    <label for="Password">Password</label>
                    <div class="input-group mb-2">                   
                        <input [(ngModel)]="password" type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>