nav{
    background-color: #72a4c2;
}
.nav-link-white .navbar-nav .nav-link{
    color:#eeeeee
}
.nav-link-white .navbar-nav .active > .nav-link{
    color: #ff6000 !important;
}
.nav-link-white .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    height: 92px;
    background-color: #72A4C2;
}

#tbarLogo{
    margin: 0;
    padding-left: 40px;
    min-width: 280px;
    display: inline;
}


#tbarLogo>img{
    height: 85px;
    width: 350px;
}
#tbarOpt{
    float: right;
   
    padding-top: 20px;
}

#tbarOpt>h1{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 3px 3px 2px black;
    display: inline;
    padding-right: 100px;
}

#tbarOpt>a{
    text-decoration: none;
    margin: 0 10px;
}

#tbarOpt>a>button{
    margin-bottom: 20px;
}



