<div class="panel-heading">
    <h3 class="panel-title">Your Rank</h3>
</div>
<div>
    <table *ngIf="userRank" class = "table table-hover">
        <thead>
            <tr>
                <th>
                   Rank
                </th>
                <th>
                    Username
                </th>
                <th>
                    Points
                </th>
            </tr>
        </thead>
        <tbody *ngIf='userRank'>
            <tr>
                <td>
                    {{userRank[0]}}
                </td>
                <td>
                    {{userRank[1]}}
                </td>
                <td>
                    {{userRank[2]}}                
                </td>
            </tr>
        </tbody>
    </table>
</div>