

<form class="container" (ngSubmit)="submitBugReport()" [formGroup]="bugFormFG" >
    <div class="form-group">
      <label for="appname">Project Name:</label>
      <input formControlName="name" type="text" class="form-control" id="appname" required>
    </div>

    <div class="form-group">
      <label for="location">Location:</label>
      <textarea formControlName="location" class="form-control" id="location" required></textarea>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea formControlName="description" class="form-control" id="description" required></textarea>
    </div>

    <div class="form-group">
        <label for="steps">Provide step-by-step instructions to reproduce the bug:</label>
        <textarea formControlName="steps" class="form-control" id="description"  required></textarea>
    </div>

    <div class="form-group">
        <label for="severity">Severity:</label>
        <select class="form-control" id="severity" formControlName="severity">
          <option *ngFor="let severity of severityDisplay" [ngValue]="severity.name">
            {{severity.name}}
        </option>
        </select>
      </div>

    <button type="submit" [disabled]="!bugFormFG.valid"  class="btn btn-primary">Submit</button>

    <div *ngIf="message" id="submit-success" class="alert alert-success">You have succesfully submitted a bug. Redirecting you to the homepage.</div> 
    <div *ngIf="errorMessage" id="submit-failed" class="alert alert-danger">Submission failed.</div> 
  </form>